* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
}
header {
    text-align: center;
    color: white;
    padding: 10px;
}

body {
    font-family: sans-serif;
}
nav {
    display: inline;
    width: 50%;
}

nav ul {
     position: absolute;
    left: 30%;
     margin: 20px; 
    /*background-color: aquamarine;*/
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: blue;
    color: white;
    font-size: 30px;
}

nav ul li a:active {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    
   
}
.wewe{
    margin: 100px auto;
    width: 75%;
}
.jjj{
    max-width: 350px;
    float: right;
    border-radius: 5px;
    border: 3px solid white;
    margin-right: 70px;
    
}
.jjj img{
    width: 550px;
    border-radius: 100px;
    height: 500px;
 
}
.text{
    margin-right:7% ;

    color: black;
}
.text h2{
    
    margin-top: 5%;
    left: 20px;
 }
.text p{
    margin-top: 10px;

}
.www p{
    margin-top: 40px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 10%;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    height: 500px;
}

.card:hover {
    transform: translateY(-10px);
}


.card img {
    width: 80px;
    height: 80px;
    
    border-radius:50px ;
}

.card-info {
    padding: 15px;
}

.card-info h3 {
    font-size: 18px;
    margin: 10px 0;
}

.price {
    font-size: 22px;
    color: #e60000;
    font-weight: bold;
}
.rush{
    text-align: center;

}
con{
    margin-top: 20px;
}
footer{
    background-color:black;
    height: 330px;
    margin-top: 50px;
}
footer h3{
    background-color: black;
    margin-left: 650px;
    margin-top: 40px;
    text-align: center;
}
.co{
    display: flex;
    background-color: black;
}
.one{
    margin-left: 20px;
    margin-top: 50px;
}
.two{
    margin-left: 100px;
    margin-top: 50px;
}
.three{
    margin-left: 200px;
    margin-top: 50px;
}
